<h1>Creating</h1>
<h1>King Midas and his touch</h1>

<p>
The story of King Midas is a myth about the tragedy of avarice and narrates what happens when true happiness is not recognized. Midas was a man who wished that everything he touched would turn into gold. However, he had not thought that this wish was not actually a blessing, but a curse. His greed invites us to think and realize the consequences that may lead us to become slaves of our own desires. The phrase the Midas touch comes from this myth and is used to say that somebody has a good fortune. Source: www.greeka.com
</p>

 <%= link_to("Home", {:action => 'index'}, :class => 'action index') %>
  <%= link_to("Home", {:action => 'index'}, :class => 'action index') %>