<h1>Fill In To Add Your Pictures</h1>

<form method="POST" action="/images">
<label>
</label>Walter White</label>
  <input name="midasPic" placeholder="Enter Image URL" value="">




<button>SAVE</button>
</form>