<!DOCTYPE html>
<html>
<head>

</head>
<body>


<h3>Welcome to Madlibs</h3>
<p>Select anyone of the images below</p>


<h3>King Midas</h3>
<section class="midas_thumbs">
  <% @images.each do |image| %>
    <h2><%='#{image.category}'%></h2><img src="<%=image.url %>"></a>
  <% end %>
</section>



</body>
</html>
