<h1>Creating</h1>
<h1>King Midas and his touch</h1>

<p>
King Midas was a blue sky king who had the talent to create blue sky into lots of gold. It was said that he had the ultimate gold creating blue sky than any other king in the world. He loved his little baby girl and it was she that inspired him to create the best blue sky so he may provide for his family. A fairy came and told him he can help him spread more blue sky to the world and his family can have all the gold in the world. 
</p>

<%= link_to("Home", {:action => 'index'}, :class => 'action index') %>
